#1 MUSHROOMS: El siguiente dataset está relacionado al consumo de diferentes tipos de hongos. El dataset cuenta con un detalle de características por cada tipo de hongo y su clasificación como comestible, venenoso o en sin confirmar, pero se los consideran igual que los venenosos.

La potencialidad del dataset consiste en poder determinar de la mejor manera nuevos hongos que puedan ser consumidos en el futuro.

Como se ve más abajo cuenta con 23 columnas y 8124 filas. No hay valores nulos.

In [11]:
import pandas as pd
df = pd.read_csv("mushrooms.csv")
df.head()
df.shape
df.info()
df.columns
df['class'].unique()


for column in df.columns:
  print(column, df[column].unique())

df.head(5).round(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8124 entries, 0 to 8123
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   class                     8124 non-null   object
 1   cap-shape                 8124 non-null   object
 2   cap-surface               8124 non-null   object
 3   cap-color                 8124 non-null   object
 4   bruises                   8124 non-null   object
 5   odor                      8124 non-null   object
 6   gill-attachment           8124 non-null   object
 7   gill-spacing              8124 non-null   object
 8   gill-size                 8124 non-null   object
 9   gill-color                8124 non-null   object
 10  stalk-shape               8124 non-null   object
 11  stalk-root                8124 non-null   object
 12  stalk-surface-above-ring  8124 non-null   object
 13  stalk-surface-below-ring  8124 non-null   object
 14  stalk-color-above-ring    8124 non-null   object
 15  stalk-color-below-ring    8124 non-null   object
 16  veil-type                 8124 non-null   object
 17  veil-color                8124 non-null   object
 18  ring-number               8124 non-null   object
 19  ring-type                 8124 non-null   object
 20  spore-print-color         8124 non-null   object
 21  population                8124 non-null   object
 22  habitat                   8124 non-null   object
dtypes: object(23)
memory usage: 1.4+ MB
class ['p' 'e']
cap-shape ['x' 'b' 's' 'f' 'k' 'c']
cap-surface ['s' 'y' 'f' 'g']
cap-color ['n' 'y' 'w' 'g' 'e' 'p' 'b' 'u' 'c' 'r']
bruises ['t' 'f']
odor ['p' 'a' 'l' 'n' 'f' 'c' 'y' 's' 'm']
gill-attachment ['f' 'a']
gill-spacing ['c' 'w']
gill-size ['n' 'b']
gill-color ['k' 'n' 'g' 'p' 'w' 'h' 'u' 'e' 'b' 'r' 'y' 'o']
stalk-shape ['e' 't']
stalk-root ['e' 'c' 'b' 'r' '?']
stalk-surface-above-ring ['s' 'f' 'k' 'y']
stalk-surface-below-ring ['s' 'f' 'y' 'k']
stalk-color-above-ring ['w' 'g' 'p' 'n' 'b' 'e' 'o' 'c' 'y']
stalk-color-below-ring ['w' 'p' 'g' 'b' 'n' 'e' 'y' 'o' 'c']
veil-type ['p']
veil-color ['w' 'n' 'o' 'y']
ring-number ['o' 't' 'n']
ring-type ['p' 'e' 'l' 'f' 'n']
spore-print-color ['k' 'n' 'u' 'h' 'w' 'r' 'o' 'y' 'b']
population ['s' 'n' 'a' 'v' 'y' 'c']
habitat ['u' 'g' 'm' 'd' 'p' 'w' 'l']

,class,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
0,p,x,s,n,t,p,f,c,n,k,...,s,w,w,p,w,o,p,k,s,u
1,e,x,s,y,t,a,f,c,b,k,...,s,w,w,p,w,o,p,n,n,g
2,e,b,s,w,t,l,f,c,b,n,...,s,w,w,p,w,o,p,n,n,m
3,p,x,y,w,t,p,f,c,n,n,...,s,w,w,p,w,o,p,k,s,u
4,e,x,s,g,f,n,f,w,b,k,...,s,w,w,p,w,o,e,n,a,g

#2 Air_Index: es un conjunto de datos completo que proporciona un análisis en profundidad del índice de calidad del aire de ciudades de todo el mundo. Cubre el período de 2017 a 2022, indicando los niveles de contaminación del aire, lo que permite a los investigadores, políticos e interesados en el medio ambiente obtener información valiosa sobre las tendencias y variaciones de la calidad del aire en diferentes regiones.

Como se ve más abajo cuenta con 21 columnas y 7323 filas. No hay valores nulos.

In [10]:
import pandas as pd
df = pd.read_csv("air_index.csv")
df.head()
df.shape
df.info()
df.columns
df.head(5).round(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7323 entries, 0 to 7322
Data columns (total 21 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rank       7323 non-null   int64
 1   Countries  7322 non-null   object
 2   City       7323 non-null   object
 3   2022       7323 non-null   float64
 4   JAN        7099 non-null   float64
 5   FEB        7153 non-null   float64
 6   MAR        7240 non-null   float64
 7   APR        7278 non-null   float64
 8   MAY        7302 non-null   float64
 9   JUN        7297 non-null   float64
 10  JUL        7297 non-null   float64
 11  AUG        7290 non-null   float64
 12  SEP        7242 non-null   float64
 13  OCT        7225 non-null   float64
 14  NOV        7165 non-null   float64
 15  DEC        7056 non-null   float64
 16  2021       6462 non-null   float64
 17  2020       3953 non-null   float64
 18  2019       3747 non-null   float64
 19  2018       2346 non-null   float64
 20  2017       2169 non-null   float64
dtypes: float64(18), int64(1), object(2)
memory usage: 1.2+ MB

,Rank,Countries,City,2022,JAN,FEB,MAR,APR,MAY,JUN,...,AUG,SEP,OCT,NOV,DEC,2021,2020,2019,2018,2017
0,1,Pakistan,Lahore,97.4,133.0,102.5,85.6,69.3,60.9,52.1,...,46.2,64.2,123.2,190.5,192.9,86.5,79.2,89.5,114.9,133.2
1,2,China,Hotan,94.3,61.7,91.6,132.7,106.2,120.5,69.5,...,75.0,65.1,75.0,50.3,120.0,101.5,110.2,110.1,116.0,91.9
2,3,India,Bhiwadi,92.7,110.6,98.0,116.2,149.5,123.8,102.8,...,36.5,59.9,85.4,111.4,86.9,106.2,95.5,83.4,125.4,NaN
3,4,India,Delhi (NCT),92.6,141.0,100.9,91.0,98.0,73.2,56.2,...,31.1,38.3,99.7,176.8,171.9,96.4,84.1,98.6,113.5,108.2
4,5,Pakistan,Peshawar,91.8,110.2,103.5,78.3,68.5,53.5,56.3,...,57.8,79.0,100.0,132.0,212.1,89.6,NaN,63.9,NaN,NaN

#3 Life Expectancy Data: este dataset contempla los datos de los años 2000 a 2015 de todos los países. Toma en cuenta los factores de inmunización, factores de mortalidad, factores económicos, factores sociales y otros factores relacionados con la salud. Dado que las observaciones de este conjunto de datos se basan en diferentes países, será más fácil para un país determinar el factor predictivo que contribuye a un menor valor de la esperanza de vida. Esto ayudará a sugerir un país a qué área se le debe dar importancia para mejorar de manera eficiente la esperanza de vida de su población.

Como se ve más abajo cuenta con 22 columnas y 2938 filas. No hay valores nulos.

In [13]:
import pandas as pd
df = pd.read_csv("Life Expectancy Data.csv")
df.head()
df.shape
df.info()
df.columns
df.head(5).round(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.0,71.3,65.0,1154,...,6.0,8.2,65.0,0.1,584.3,33736494.0,17.2,17.3,0.5,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.0,73.5,62.0,492,...,58.0,8.2,62.0,0.1,612.7,327582.0,17.5,17.5,0.5,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.0,73.2,64.0,430,...,62.0,8.1,64.0,0.1,631.7,31731688.0,17.7,17.7,0.5,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.0,78.2,67.0,2787,...,67.0,8.5,67.0,0.1,670.0,3696958.0,17.9,18.0,0.5,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.0,7.1,68.0,3013,...,68.0,7.9,68.0,0.1,63.5,2978599.0,18.2,18.2,0.5,9.5